/* delivery.css */

/* Kiểu dáng cho phần tiêu đề */
.detail-top {
    text-align   : center;
    margin-bottom: 20px;
}

.detail-text {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 20px;
}

.detail-text-left-content,
.detail-text-right-content {
    flex        : 1;
    margin-right: 20px;
}

.detail-text-right-content {
    margin-left: 20px;
}

.detail-text-right table {
    width          : 100%;
    border-collapse: collapse;
}

.detail-text-right table th,
.detail-text-right table td {
    padding   : 10px;
    border    : 1px solid #ddd;
    text-align: left;
}

.detail-text-right table th {
    background-color: #f8f8f8;
    font-weight     : bold;
}

.product-row {
    display: table-row;
}

.product-image img {
    max-width: 50px;
    /* Thu nhỏ kích thước ảnh */
    height   : auto;
}

.product-title,
.product-color,
.product-size,
.product-quantity,
.product-price {
    padding   : 10px;
    border    : 1px solid #ddd;
    text-align: left;
}

.product-color img {
    max-width: 30px;
    /* Thu nhỏ kích thước ảnh màu */
    height   : auto;
}

.detail-content-right-bottom {
    margin-top: 20px;
}

.detail-content-right-bottom table {
    width          : 100%;
    border-collapse: collapse;
}

.detail-content-right-bottom table th,
.detail-content-right-bottom table td {
    padding   : 10px;
    border    : 1px solid #ddd;
    text-align: left;
}

.detail-content-right-bottom table th {
    background-color: #f8f8f8;
    font-weight     : bold;
}

.success-button {
    text-align: center;
    margin-top: 20px;
}

.success-button button {
    padding         : 10px 20px;
    background-color: #007bff;
    color           : #fff;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : background-color 0.3s;
}

.success-button button:hover {
    background-color: #0056b3;
}