/* productlist.css */

body {
    font-family     : Arial, sans-serif;
    background-color: #f8f9fa;
    margin          : 0;
    padding         : 20px;
}

.list-pro-content-right {
    width           : 90%;
    padding         : 20px;
    background-color: #fff;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius   : 8px;
    margin          : 20px auto 0;
    border          : 1px solid #ddd;
    /* Thêm viền cho form */
}

.lis-button-container {
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 20px;
}

.table-content table {
    width          : 100%;
    border-collapse: collapse;
}

.lis-table-content th,
.lis-table-content td {
    border        : 1px solid #ddd;
    padding       : 8px;
    text-align    : center;
    vertical-align: middle;
}

.lis-table-content th {
    background-color: #f2f2f2;
}

.lis-table-content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.lis-table-content tr:hover {
    background-color: #f1f1f1;
}

h2 {
    text-align   : center;
    margin-bottom: 20px;
}

.back-button {
    text-align: left;
}

.add-button {
    text-align: right;
}

.btn {
    padding         : 10px 20px;
    background-color: #007bff;
    color           : #fff;
    text-decoration : none;
    border-radius   : 5px;
    display         : inline-block;
    text-align      : center;
    transition      : background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
}

.btn-view {
    background-color: #17a2b8;
}

.btn-view:hover {
    background-color: #138496;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.action-buttons {
    display        : flex;
    justify-content: center;
    gap            : 10px;
    /* Khoảng cách giữa các nút */

}